{% extends 'base.html' %}

{% load static %}

{% block title %}
Movie Review Detail|Shumi log
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/movie/movie_review_detail.css' %}">
<script src="{% static 'js/movie/movie_review_detail.js' %}"></script>
{% endblock %}

{% block active_logging_movie %}active{% endblock %}

{% block header %}
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <h1 class="title">映画 レビュー 詳細</h1>
            <div class="box_form">
                <div class="row">
                    <div class="col-4">
                        <strong>映画タイトル:</strong>
                    </div>
                    <div class="col-8">
                        {{ object.movie.movie_title }}　[公開日:{{ object.movie.released_date }}]
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <strong>視聴日:</strong>
                    </div>
                    <div class="col-8">
                        {{ object.watched_date }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <strong>点数:</strong>
                    </div>
                    <div class="col-8">
                        <div class="evaluation">
                            {% for i in i|rjust:5 %}
                            <input type="radio" id="movie_review_score{{ forloop.revcounter }}"
                                   name="movie_review_score" value="{{ forloop.revcounter }}"
                                   {% ifequal forloop.revcounter object.movie_score %} checked {% endifequal %}
                                   disabled/>
                            <label for="movie_review_score{{ forloop.revcounter }}"><span class="text">{{ forloop.revcounter }}</span>★</label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <strong>レビュー:</strong>
                    </div>
                    <div class="col-8">
                        {{ object.movie_review | default:"-" }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <strong>画像:</strong>
                    </div>
                    <div class="col-8">
                        {% if object.movie_image %}
                        <img src="{{ object.movie_image.url }}" class="movie_image">
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="div_footer_btn">
                    <a class="btn btn-primary edit_btn" href="{% url 'movie:review_update' object.id %}">編集</a>
                    <a class="btn btn-dark back_btn" href="{% url 'movie:review_list' %}">戻る</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}