#id_movie_title {
    width: 75%;
    display: inline;
}

#movie_summary{
    word-break: break-word;
}

.cmd_btn{
	display:inline;
	width:65px;
	height:30px;
	font-size:12px;
	float:right;
	margin-top:4px;
	margin-right:2px;
	margin-left:2px;
}

.regist_btn{
    width: 120px;
    height: 40px;
    margin: 15px;
}

.cancel_btn{
    width: 120px;
    height: 40px;
    margin: 15px;
}

#invisible_btn {
    display: none;
}

label{
    margin: 0.5rem;
}